body{
  width: 1349px;
  margin: 0 auto;
  padding: 0;
  font-family: Verdana;
}
header{
  color: white;
  height: 500px;
  border-top: 10px solid #2ecc71;
  background-image: url("../images/slider.png");
  background-repeat: no-repeat;
}
header div{
  width: 380px;
}
header>div{
  margin: 100px 0 0 250px;
  font-size: 20px;
}
#select_os a{
  display: inline-block;
  margin-right: 15px;
  line-height: 60px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(3, 3, 3, 0.5);
}
header div > div:nth-child(2){
  margin: 35px 0 30px;
}
main {
  color: #222222;
}
main section:nth-child(1) > div {
  display: inline-block;
  margin: 0 50px;
  text-align: center;
}
main section {
  margin: auto;
  width: 1100px;
}
main section:nth-child(1) {
  text-align: center;
}
main section:nth-child(1) .subscribe{
  font-weight: bold;
  font-size: 20px;
}
main section:nth-child(1) .description{
  color: #848484
}
main section:nth-child(1) > div a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #2ecc71;
  line-height: 110px;
}
main section:nth-child(1) > div > *{
  margin: 35px auto;
  text-align: center;
  width: 250px;
}
main section:nth-child(2){
  width: 100%;
  background-color: #e3e3e3;
}
main section:nth-child(2) > div {
  width: 1100px;
  margin: auto;
}
main section:nth-child(2) > div div {
  display: inline-block;
  vertical-align: top;
  margin: 40px 0 40px 0;
}
#form input{
  border: 0;
  outline: none;
  height: 40px;
  border-radius: 10px 0 0 10px;
}
#form button{
  color: #ffffff;
  font-weight: bold;
  border: 0;
  padding: 10px;
  outline: none;
  height: 40px;
  border-radius: 0 10px 10px 0;
  background-color: #2ecc71;
}
#video {
  width: 445px;
  height: 200px;
  background-image: url("../images/player_03.png");
  margin-left: 130px;
  border-radius: 20px;
}
#social_media a{
  display: inline-block;
  background-color: #d4d4d4;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  text-align: center;
  line-height: 25px;
  margin-left: 10px;
}
#testimonials div:nth-child(1){
  width: 800px;
  height: 55px;
  color: #848484;
  font-style: italic;
  text-align: center;
  margin: 60px auto 30px auto;
  line-height: 30px;

}
#testimonials div:nth-child(2){
  font-weight: bold;
  text-align: center;
  margin: 30px auto;
}
#testimonials div:nth-child(3){
  margin: 30px auto 60px auto;
}
#testimonials div:nth-child(4){
  margin: 60px auto 20px auto;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
#testimonials div:nth-child(5){
  margin: 20px auto 30px auto;
  color: #848484;
  text-align: center;
}
#social_media{
  margin: 30px auto 60px auto;
  text-align: center;
}
.site_footer{
  background-color: #e3e3e3;
  height: 130px;
  color: #848484;
  margin:auto;
  text-align: center;
}
.site_footer nav a{
  display: inline-block;
  color: #848484;
  text-decoration: none;
  margin: 60px 20px auto;
}